.carousell {
  width: 90%;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 1vh;
}

.caption {
  background-color: rgba(0, 0, 0, 0.6);
}

.caption h3,
.caption p {
  color: #ffffff;
  font-size: 2vh;
}

.caption h3 {
  font-size: 4vh;
}

.carousel-item {
  height: 400px;
  overflow: hidden;
  border-radius: 5vh;
}

.carousel-item img {
  object-fit: fill;
  height: 100%;
  border-radius: 1vh;
  transition: transform 0.5s ease;
}

.carousell img {
  transition: transform 0.5s ease;
}

.carousell img:hover {
  transform: scale(1.5);
}
