
.carousell {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px;
  }
  
  .caption h3 {
    color: #fff;
    font-size: 24px;
  }
  
  .caption p {
    color: #fff;
    font-size: 16px;
  }
  .carousel-item {
    height: 400px; /* Ajusta la altura según tus necesidades */
  }
  
  .carousel-item img {
    object-fit:fill; /* Ajusta la forma en que la imagen se ajusta al contenedor */
    height: 100%; /* Ajusta la altura de la imagen al 100% del contenedor */
  }