.container-footer {
  display: flex;
  flex-direction: row;
justify-content: space-around;
  width: 100%;
  background: linear-gradient(rgba(247, 113, 164, 0.459), rgba(76, 120, 158, 0.524));
  padding: 1.5vh; /* Ajusta según sea necesario */
}

.container-footer img {
  width: 20vh;
  animation: ilustracion 1s ease-in infinite alternate;
}
@keyframes ilustracion{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.05);
    }
}
.title-section{
  text-align: center; 
  margin: 2vh;

}
.title-section h5 {
  font-size: 4vh;
  margin: 3vh;
}

.title-section p{
  font-size: 3vh;
}


.redes-section a {
  width: 5vw;
  margin-right: 5%;
  text-decoration: none;
  transition: color 0.3s ease; 
color: #1c0121;
}

  .redes-section a:hover {
    color: #ff0000; /* Cambia el color al pasar el ratón sobre los iconos */
  }
.glow {
  width: 100%;
  background: linear-gradient(45deg, #000000, #000000, #f771a5, #b76eff, #8c20f8);
  background-size: 400%;
  animation: animate 1.5s linear 3;
  bottom: 0;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}
