.div-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(80deg, rgb(243, 239, 239) 0%, rgba(254, 22, 121, 1) 80%);
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    font-weight: bolder;
}

.div-logo-footer {
    display: flex;
    width: 5%;
}

.div-logo-footer img{
    width: 50%;
}



.div-eslogan {
    width: 65%;
    text-align:start;
}


.div-redes {
    width: 30%;
    font-size: medium;
    display: flex;
    flex-direction: row;
}

.div-redes-club{
    width: 50%;
    text-align: end;
    font-size: medium;
}

.div-icons {
    text-align:start;
    width: 50%;
    display: flex;
    justify-content:center;
    font-size: large;
}

.div-icons div :hover{
    font-size: 20px;
    color: blue !important;
}

.div-icons div {
    width: 25%;
}

.footer-email a{
    text-decoration: none;
    color: black;
}
.footer-email a:hover{
    color: blue !important;
}

.sub-footer{
    width: 100%;
    height: 25px;
    display: flex;
    background: linear-gradient(80deg, rgb(243, 239, 239) 0%, rgba(254, 22, 121, 1) 80%);
    padding-bottom: 5px;
}
.div-contacto {
    width: 30%;
    font-size:medium;
    color: black;
    text-align: center;  
    font-weight: bolder;  
}

.link-contacto{
    text-decoration: none;    
}

.div-copyright {
    width: 70%;
    display: flex;
    color: rgba(120, 115, 115, 0.769);  
    justify-content: flex-start; 
    font-size: small;
 
}


@media (max-width: 768px) {
    .div-footer {
        flex-direction: column;
    }
    .div-contacto {
        width: 50%;
        text-align: start;
    }
    .div-redes {
        width: 100%;
        justify-content: center;
    }
    .div-icons div {
        width: 30%;
        text-align: center;
    }
    .div-icons {
        justify-content: flex-start;
    }
    .div-logo-footer {
        width: 25%;
    }
    .div-eslogan {
        text-align:center;
    }
    .div-redes-club{
        width: 50%;
        text-align: end;
    }

}