.div-footer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: linear-gradient(80deg, rgb(243, 239, 239) 0%, rgba(254, 22, 121, 1) 80%);
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.div-logo-footer {
    display: flex;
    width: 25%;
}

.div-logo-footer img{
    width: 40%;
}


.div-logoFooter {
    flex-direction: column;
    align-items: center;
    width: 10%;
    height: 10%;
}


.logoFooter{
    justify-content: start;
    width: 100%;
    height: 50%;
}

.div-contacto {
    width: 50%;
    flex-direction: column;
    font-size: x-large;
    color: black;
    
}

.div-contacto div {
    padding-bottom: 10px;    
}

.div-redes {
    width: 25%;
    font-size: x-large;
    display: flex;
    flex-direction: column;
}

.div-icons {
    display: flex;
    justify-content: center;
    font-size: xx-large;
    padding-top: 10px;
}

.div-icons div :hover{
    font-size: 45px;
    color: blue !important;
    }

.div-icons div {
    width: 20%;
}

.footer-email a{
    text-decoration: none;
    color: black;
}
.footer-email a:hover{
    color: blue !important;
}


.div-copyright {
    height: auto !important;
    background: linear-gradient(80deg, rgb(243, 239, 239) 0%, rgba(254, 22, 121, 1) 80%);
    color: rgba(120, 115, 115, 0.769);   
}

@media (max-width: 768px) {
    .div-footer {
        flex-direction: column;
    }
    .div-contacto {
        width: 100%;
        
    }
    .div-redes {
        width: 100%;
        justify-content: center;
    }
    .div-icons div {
        width: 10%;
    }
    .div-logo-footer {
        width: 35%;
    }
}