.sponsors-container {
  padding: 20px;
}

.sponsors-grid {
  transform: scale(1.2);
  animation: zoomInAnimation 8s ease-in-out infinite alternate;
}

@keyframes zoomInAnimation {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

.text {
  position: relative;
  padding: 10px;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(247, 115, 166, 0.424);
  backdrop-filter: blur(4px);
  border-radius: 10px;
}

#title, .descripcion {
  font-size: 24px;
  font-weight: bold;
  color: rgb(3, 3, 73);
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.descripcion {
  font-size: 14px;
}

.sponsors-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sponsors-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  margin: 10px;
}

.sponsors-item:hover .sponsors-image {
  transform: scale(1.1);
  opacity: 0.7;
}

.sponsors-image {
  width: 100px;
  height: 100px;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}
