sponsors-container {
  text-align: center;
  margin: 20px;
  }
  .tituloPat{
    font-weight: bolder;
    color: aliceblue;

  }
  .sponsors-grid {
    display: flex;
    justify-content: center;
    background: linear-gradient(rgb(247, 113, 165), rgb(76, 120, 158));
  }
  
  .sponsor-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
    margin: 25px;
  }
  
  .sponsor-thumbnail:hover {
    transform: scale(1.05);
  }
  
  /* Estilos adicionales para el texto de los patrocinadores */
  .sponsor-name {
    margin-top: 10px;
    font-weight: bold;
  }