.container-header {
  display: flex;
  flex-direction: row;
justify-content: space-around;
  width: 100%;
  position: fixed;
  background: linear-gradient(rgba(247, 113, 164, 0.778), rgba(76, 120, 158, 0.613));
  z-index: 1000;
  top: 0;
}

.title-section h1 {
  font-size: 6vh;
  justify-content: center;
  align-items: center;
}

.title-section h1 {
    font-size: 6vh;
text-align: center;  
}

.logo-section img {
  width: 20vh;
  justify-items: flex-start;
  animation: ilustracion 1s ease-in infinite alternate;
}
@keyframes ilustracion{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.05);
    }
}
.ingreso-registro-section a {
  color: #3e3ca0;
  font-weight: bolder;
  text-decoration: none;
  font-weight: bolder;
}

.glow {
  width: 100%;
  background: linear-gradient(
    45deg,
    #000000,
    #000000,
    #f771a5,
    #b76eff,
    #8c20f8
  );
  background-size: 400%;
  animation: animate 1.5s linear 3;
  bottom: 0;
}


  
