h1{
    background-color: #FF33DA;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 50vh;
    border: solid 2px black;
}
.logo img{
    width: 2rem;
    height: 2rem;
}
.logo-titulo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}