header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    background:  rgba(137, 139, 159, 0.507);
}

.glow{
    width: 100%;
    height: 5px;
    background: linear-gradient(45deg, #000000, #000000, #f771a5, #b76eff, #8c20f8);
    background-size: 400%;
    animation: animate 1.5s linear 3;
}


.divRegistro{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    margin-right: 5px;
    align-items: flex-start;
}

.divRegistro a{
    color: #000000;
    font-weight: bolder;
    text-decoration: none;
}
    

.div-logo img{
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    margin-top: 1%;
}

.div-logo{ 
    margin-top: 1%;  
    width: 5rem;
    height: 100%;

}

.logo-titulo{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}

.logo{
    animation: ilustracion 1s ease-in infinite alternate;
}
@keyframes ilustracion{
    0%{
        transform: scale(1);
    }100%{
        transform: scale(1.05);
    }
}
.ingreso-registro-section a {
  color: #3e3ca0;
  font-weight: bolder;
  text-decoration: none;
  font-weight: bolder;
}

.glow {
  width: 100%;
  background: linear-gradient(
    45deg,
    #000000,
    #000000,
    #f771a5,
    #b76eff,
    #8c20f8
  );
  background-size: 400%;
  animation: animate 1.5s linear 3;
  bottom: 0;
}


  
