.contenedor{
    margin: 0 auto;
    display: flex;
}

.card{
    width: 30vw;
    border-radius: 5vw;
    margin: 5%;
}


.cardBody {
    background-color: rgba(61, 6, 31, 0.183);
    border-radius: 5vw;
}
.sideBar{
    width: 30vw;
    height: 20vw;
}
.sideBar, .imgSideBar{
    height: auto;
    border-radius: 2vw;
}

.cardText{
    width: 25vw;
    text-align: center;
    height: auto;
}

.card .colorBoton{
    background-color:rgba(93, 14, 84, 0.766);

}
